# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# osx
.DS_Store
.DS_Store?
._*
.Trashes

# logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# ide
/.idea

# misc
.env
package-lock.json
